body {
  padding-left: 11em;
  font-family: Georgia, "Times New Roman",
        Times, serif;
  color: purple;
  background-color: black }
ul.navbar {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 2em;
  left: 1em;
  width: 9em }
h1 {
  background-color: #333333;
  font-family: Helvetica, Geneva, Arial,
        SunSans-Regular, sans-serif;
	text-align: center }
h2 {
  font-family: Helvetica, Geneva, Arial,
        SunSans-Regular, sans-serif;
	text-align: center;
	color: orange;
	background-color: #0E6655}

ul.navbar li {
  background: white;
  margin: 0.5em 0;
  padding: 0.3em;
  border-right: 1em solid black }
ul.navbar a {
  text-decoration: none }
a:link {
  color: blue }
a:visited {
  color: purple }
address {
  margin-top: 1em;
  padding-top: 1em;
  border-top: thin dotted }
.textwrapR{
    float: right;
    margin: 10px
}
.textwrapL{
    float: left
}
.center {
    text-align: center
}
table {
    align-items: center;
    align-items: center;
    background-color: #333366;
    padding: 15px
}